body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
      background-color: #95a9eb;
}
.product{
    text-align: center;
    border-bottom: black double 2px;
    font-size: 25px;
    margin-top: 20px;
    padding-bottom: 20px;

}
.product a{
    background-color:darkslateblue ;
    padding: 10px;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    border: 2px white solid;

}
.product img{
    width: 350px;
    border: 5px solid black;
    background-color: rgb(239, 243, 133);
}
.button{
    color: black;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;

}
.button1{
    color: black;
    font-size: 30px;
    text-decoration: none;
    border: 3px solid black ;
    padding: 5px;
}
